

/*********************
POSTS & CONTENT STYLES
*********************/

.content {
  margin-top: 1.5em;
}

.rampages{
	margin-top: 2em;;
}

.rampage{
	padding: 1em;
	border: 1px solid $gray;
	margin-bottom: 2em;
}

.rampage img{
  background: $gray;
  padding: .25em;
  border: 0 0 0 0;
  max-width: 100%;
  height: auto;
}

.active-plugins{
  margin: -1em 0 0 1em;
  list-style-type: disc;
}

.rampage .meta.ng-enter{
  transition:0.5s linear all;
  opacity: 0;
}


.rampage .meta.ng-enter.ng-enter-active{
	opacity: 1;
}