/*********************
LINK STYLES
*********************/


.clickable{
  color: $link-color;
  cursor: pointer;
  transition: all .3s ease;

  &:hover{
    color: $white;
    background: $link-color;
  }

  &.nobg:hover{
    background: transparent;
  }
}

a, a:visited {
  color: $link-color;
  transition: all .3s ease;

  /* on hover */
  &:hover, &:focus {
    color: $white;
    background: $link-color;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}